doctype html
html(lang="en")
  head
    title= 'Video Portal'
    style
      include style.css
  body
    mixin vid(title, link, thumbnails)
        .grid-item
          a#fadeImage(href=link)
            img#image1(src=thumbnails[0])
            img#image2(src=thumbnails[1])
            img#image3(src=thumbnails[2])
            img#image4(src=thumbnails[3])
    h1 Videos
    .grid-container
        each v in videos
            +vid(v.name, '/videos/'+v.id, v.thumbnails)


    